  <div class="ui vertical footer segment">
    <div class="ui container">
      <div class="ui horizontal list">
        <div class="disabled item copyright" href="#">Njooh &copy; 2016.</div>
        <%= link_to 'Terms', legal_terms_path, class: "item"  %>
        <%= link_to 'Data Policy', about_policy_path, class: "item"  %>
        <%= link_to 'About', njooh_path, class: "item"  %>
        <%= link_to 'Jobs', jobs_path, class: "item"  %>
        <%= link_to 'Support', support_path, class: "item"  %>
      </div>
      <div class="ui right floated horizontal list">
        <a class="disabled item language" href="#">English(US)</a>
        <a class="item" href="#">Français(France)</a>
      </div>
    </div>
  </div>